@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html{
  font-size:62.5%;
  box-sizing: border-box;
}

body , #root{
  margin :0;
  height :100%;
}

body , input , textarea , select , button , a {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 1.6rem;
}
li{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color : #ff8000;
}

.App{
  height:100%;
}
/* Header */

header{
  display: flex;
  align-items: center;
  margin-bottom:30px;
  padding:.5rem;
  height:100%;
  
}
header a{
  color : #ffffff;
font-size:62.5%;
}

main{
  height:100%;
  
}
header ,footer{
  background-color: #203040;
  color: #ffffff;
}

.content{
  display:flex;
  flex-wrap: wrap;
}
.content .main{
flex: 3 60rem;
}
.content .sidebar{
  flex:1 20rem;
}

/* Products */
.products{
  display: flex;
  flex-wrap: wrap;
  
}
.products  li{
  flex:1 1 29rem;
  height:47rem;
  margin-bottom:2rem;
 
}

.product  img{
 max-width: 37rem;
 max-height: 37rem;
}

.product-price {
display: flex;
align-items: center;
/* font-family: Montserrat, Helvetica, sans-serif; */
font-size: 2rem;

}
.product-price .button {
 margin-left:9rem;
 border:1px solid #c0c0c0;
 padding:1rem;
 background-color: #f0f0f0;
 cursor: pointer;
}
 .primary{
  background-color: #ffc000;
  width:16rem;
font-size: 1.5rem;

}
.product-price .primary:hover{
border:1px solid #808080;
}


/* Filter */
.filter{
  display:flex;
  margin:1rem;
  padding:1rem;
  border-bottom:.1rem #c0c0c0 solid;
  justify-content: space-between;
}

.filter div{
  flex:1;
}

/* Footer */
footer{
 display: flex;
 justify-content: center;
 align-items: center;
 height:100%;

}

/* SideBar */

.cart{
  display: flex;
  margin:1rem;
  padding:1rem;
 

}
.cart-header{
  border-bottom:.1rem #c0c0c0 solid;
}

.cart-items{
  padding: 0;
  width: 100%;
}
.cart-items  img{
 width: 5rem;
}
.cart-items li{
  display: flex;
}
.cart-items li div{
  padding: .5rem;
}
 .right{
   text-align: right;
 }
 .total{
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
 }
 .total >div {
   font-size: 2rem;
   
 }
 .total >div , .total >button {
   flex:1; 
 }
 .total >button{
  border:1px solid #c0c0c0;
  padding:1rem;
  cursor: pointer;
 }