html{
  font-size:62.5%;
  box-sizing: border-box;
}

body , #root{
  margin :0;
  height :100%;
}

body , input , textarea , select {
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color : #ff8000;
}

.App{
  height:100%;
}
/* Header */

header{
  display: flex;
  align-items: center;
  margin-bottom:30px;
  padding:.5rem;
  height:100%;
  
}
header a{
  color : #ffffff;
font-size:62.5%;
font-family:Helvetica, sans-serif ;
}

main{
  height:100%;
  
}
header ,footer{
  background-color: #203040;
  color: #ffffff;
}

footer{
 display: flex;
 justify-content: center;
 align-items: center;
 height:100%;

}